/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html, body, [class*="css"]{

    font-family: "Inter", sans-serif;

}

/* Main background */

.stApp{

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #0f172a
    );

    color:white;

}

/* Remove Streamlit header */

header{

    visibility:hidden;

}

footer{

    visibility:hidden;

}

/* Title */

.main-title{

    text-align:center;

    font-size:52px;

    font-weight:700;

    color:white;

    margin-top:20px;

}

.subtitle{

    text-align:center;

    color:#cbd5e1;

    margin-bottom:30px;

}

/* Card */

.glass{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(12px);

    border-radius:20px;

    padding:25px;

    border:1px solid rgba(255,255,255,.1);

    margin-bottom:20px;

}

/* Report */

.report-card{

    background:#111827;

    padding:25px;

    border-radius:20px;

    border:1px solid #334155;

}

/* Metrics */

.metric{

    text-align:center;

}

/* Sidebar */

section[data-testid="stSidebar"]{

    background:#0f172a;

}


/* Metric Cards */

div[data-testid="metric-container"]{

    background: rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    border-radius:18px;

    padding:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

    transition:.3s;

}

div[data-testid="metric-container"]:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 30px rgba(0,0,0,.4);

}

/* Expander */

.streamlit-expanderHeader{

    font-size:18px;

    font-weight:600;

}

/* Buttons */

.stButton>button{

    border-radius:12px;

    font-weight:bold;

    height:55px;

    font-size:18px;

}

/* Text Input */

.stTextInput input{

    border-radius:12px;

}